{% extends 'home/base.html' %}
{% block content %}
    <h2>About</h2>
<p>It will be a global, decentralized coin based on the renewable solar energy generation by users.
    It will be developed on proof-of-ownership concept where renewable energy generation will get you a coin.
    It will mainly be used for energy transactions online by consumers and producers. Producers will also be
    rewarded with coins for making green energy and that too at cheap rates of production.
</p>
{% endblock content%}


