{% extends 'home/base.html' %}
{% block content %}
    <h2>Energy goals</h2>
<p>The global clean energy transformation needs acceleration. Energy technology is not the issue. Solar Energy is now the cheapest fuel.
    The goal is to incentivize solar electricity by rewarding the generators of solar electricity to reduce the cost of electricity production.
    The distribution part of the project is designed to last over the coming years. SolarCoin is spendable and tradeable just like a cryptocurrency but focused
    on incentivizing real-world environmental activity: verifiably produced solar energy. It is important to switch over green energy.
</p>
{% endblock content%}


