{% extends 'home/base.html' %}
{% block content %}
    <h2>Partnerships</h2>
<p> We have partnered with national banks lik State bank of India, Union bank od India, etc for providing loans and exciting schemes on solar panel installation.
    Solar cell production units also provide our community with cheaper installation charges. Hope to see you as a part of green
    energy production community!

<p>
    1.Proof of Ownership (PoO) of the installation
    As SolarEcoins are granted to the owners of solar installations, false claims need to be avoided and claimants musts provide PoO documentation as part of the process.
</p>
<p>
    2.Know-your-Device (KYD) documentation,
    SolarCoin needs to ensure that solar installations can only be registered once to avoid double counting and granting. For this reason, a unique registration of every solar installation is needed
</p>
<p>
    3.Power production data or Know-your-Energy (KYE)
    The Solar Currency needs to know that energy is produced from a solar installation. Relevant documentation is needed for the registration process.
</p>
<p>
    4.Know-your-Customer (KYC) compliance documentation.
    The Solar Currency needs to be able to identify claimants. For this reason, claimants must undergo KYC procedures to be eligible to receive coins.
</p>
<p>
    5. Sell energy and get coins.
</p>
    <p><b>CONTACT US : solarcurrency@gmail.com,
    7273782711</b></p>
</p>
{% endblock content%}


